<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/flexslider.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/lightbox.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/prettyPhoto.min.css" />
    <link rel="stylesheet" href="/css/api/main.css" />
    <title><%- title %></title>
  </head>
  <body>
    <!-- Header Section -->
    <section class="tophead" role="tophead">
      <!-- Navigation Section -->
      <header id="header">
        <div class="header-content clearfix">
          <a class="logo" href="/">Muslim Api</a>
          <nav class="navigation" role="navigation">
            <ul class="primary-nav">
              <li>
                <a class="theme-toggle" href="javascript:changeTheme()"
                  >Gelap</a
                >
              </li>
              <li><a href="/other">Lainnya</a></li>
            </ul>
          </nav>
          <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
      </header>
      <!-- Navigation Section -->
    </section>
    <!-- Header Section -->
    <%- body %>
    <!-- footer section -->
    <footer id="contact" class="footer">
      <div class="container-fluid">
        <div class="col-md-2 left">
          <h4>Alamat</h4>
          <p>Banjarwaringin, Salopa Tasikmalaya 46192 Indonesia</p>
        </div>
        <div class="col-md-3 left">
          <h4>Kontak</h4>
          <p>
            Telepon: +62 856-9346-8979<br />
            Email : <a href="mailto:dikiotang@gmail.com">dikiotang@gmail.com</a
            ><br />
            Website : <a href="https://dikiotang.com">dikiotang.com</a>
          </p>
        </div>
        <div class="col-md-3 left">
          <h4>Sosial Media</h4>
          <ul class="footer-share">
            <li>
              <a href="https://facebook.com/profile.php?id=100010428010043"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://instagram.com/dikiotang_"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://t.me/Otang45"
                ><i class="fa-brands fa-telegram"></i
              ></a>
            </li>
            <li>
              <a href="https://x.com/dikiotang"
                ><i class="fa-brands fa-x-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/Otang45"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="https://play.google.com/store/apps/dev?id=9198297285603677585"
                ><i class="fa-brands fa-google-play"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 right">
          <h4>Informasi</h4>
          <p>
            ©2015 Hak Cipta Dilindungi.<br />
            Template oleh <i class="fa fa-heart pulse"></i>
            <a href="http://www.designstub.com/">Designstub</a>
          </p>
        </div>
      </div>
    </footer>
    <!-- footer section -->
    <script
      src="https://kit.fontawesome.com/606014df1d.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/jquery.prettyPhoto.min.js"></script>
    <script src="/js/retina.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/api/main.js"></script>
  </body>
</html>
